*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1365px;
    height: 75px;
    margin: auto;
    background-color: rgb(212, 211, 211);
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 80px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 400px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 58px;
    margin-top: 27px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: #ff7200;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #242221;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 35px auto;
    background: transparent;
}

table, th, td{
    border: 2px solid black;
    padding: 5px;
}

th{
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
}

td{
    font-size: 15px;
    color:rgb(19, 18, 18);
    font-weight: 150;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(22, 21, 21);
    position: relative;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 445px;
    margin-top: 15px;
    letter-spacing: 2px;
}