<!DOCTYPE html>
<html lang="en">
<head>
    <title>Woxen Online</title>
    <link rel="stylesheet" href="reg.component.css">
</head>
<body style="background-image: url('https://unsplash.com/photos/NFvdKIhxYlU');">

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Woxen</h2>
            </div>


        </div> 
        <div class="content" >
            

                <div class="form">
                    <h2>Sign Up Here</h2>
                    <input type="email" name="email" placeholder="Enter Email">
                    <input type="password" name="" placeholder="Enter Password">
                    <input type="password" name="" placeholder="Re-Enter Password">
                    <input type="text" name="name" id="email" placeholder="Enter Fullname">
                    <input type="tel" name="" placeholder="Enter Mobile Number">
                    <input type="number" name="" placeholder="Enter Age">
                    <label for="gender">Gender</label>
                    <select class="gender" name = "dropdown">
                    <option value = "male" selected>Male</option>
                    <option value = "female">Female</option>
                    <option value = "others" required>Others</option>
                    </select>
                    

                    <button class="btnn"><a href="#">Register</a></button>

                    <p class="link">Already have an account<br>
                    <a routerLink="home" routerLinkActive="active-link">Login </a> here</p>

                </div>
                    </div>
                </div>
    
</body>
</html>
