<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="userbookings.component.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Woxen</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="UserHome.html"><u>HOME</u></a></li>
                    <li><a href="userbkings.html"><u>MyBookings</u></a></li>
                    <li><a href="userCanc.html"><u>MyCancallations</u></a></li>

                </ul>
            </div>

        </div> 
        <div class="content">
            <h1> My Bookings </h1>

                    <table id="display">
                        <tr>
                            <th style="width: 250px;">Email</th>
                            <th style="width: 200px;">Full Name</th>
                            <th style="width: 150px;">Date</th>
                            <th style="width: 150px;">Slot Timings</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th style="width: 180px;">Hospital</th>
                            <th>Bill Amount</th>
                        </tr>
                        <tr>
                            <th>chandu@gmail.com</th>
                            <th>chandu</th>
                            <th>26/08/2022</th>
                            <th>10:00AM to 11:10AM</th>
                            <th>22</th>
                            <th>Male</th>
                            <th>Reference Hospitals</th>
                            <th>400.00</th>
                            <th><button class="cancel" routerLink="home">Cancel</button></th>
                        </tr>
                    </table>

                    </div>
                </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>