*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url("https://images.unsplash.com/photo-1629909613654-28e377c37b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1550px;
    height: 75px;
    margin: auto;
    background-color: rgb(212, 211, 211);
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 80px;
}

.menu{
    width: 550px;
    float: left;
    height: 70px;
    margin-left: 400px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 58px;
    margin-top: 27px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: #ff7200;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #242221;
}

.form{
    width: 275px;
    height: 240px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 180px;
    left: 150px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.form p{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: green;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form1 p{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: green;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form1 h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input:focus{
    outline: none;
}

.form1{
    width: 275px;
    height: 240px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 180px;
    left: 500px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form2{
    width: 275px;
    height: 240px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 180px;
    left: 850px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form2 h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form2 p{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: green;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

