<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Woxen</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="UserHome.html"><u>HOME</u></a></li>
                    <li><a href="AdminCanc.html"><u>MyBookings</u></a></li>
                    <li><a href="AmdinUserData.html"><u>MyCancellations</u></a></li>
                    <li><a href="AdminFeed.html"><u>Profile</u></a></li>

                </ul>
            </div>

        </div> 
        

        <div class="form">
            <h2>Ramendhr Hospitals</h2>
            <p>Especially For Cardialogy</p>
            <button class="btnn"><a href="Home.html">Book appointment</a></button>
        </div>
        <div class="form1">
            <h2>Praveen Hospitals</h2>
            <p>Especially For Neurology</p>
            <button class="btnn"><a href="Home.html">Book appointment</a></button>
        </div>
        <div class="form2">
            <h2>Vijay Hospitals</h2>
            <p>Especially For Dermetology</p>
            <button class="btnn"><a href="Home.html">Book appointment</a></button>
        </div>
        </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>