<!DOCTYPE html>
<html lang="en">
<head>
    <title>WOXEN Online</title>
    <link rel="stylesheet" href="adminlogin.component.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">WOXEN</h2>
            </div>


        </div> 
                <div class="form">
                    <h2>Admin Login</h2>
                    <input type="email" name="email" placeholder="Enter Email Here" required>
                    <input type="password" name="" placeholder="Enter Password Here" required>
                    <button class="btnn"><a href="#">Login</a></button>
                </div>
                </div>
</body>
</html>